body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
}
table {
  border-collapse: collapse;
  margin: auto;
}
td {
  width: 100px;
  height: 100px;
  text-align: center;
  font-size: 2em;
  border: 1px solid #333;
  cursor: pointer;
}
